footer {
    position: fixed;
    bottom: 0;
    outline: 1px solid black;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 50px;
    font: 12px;
    text-decoration: none;
}

body {
    margin: 0;
    min-width: 1000px;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgb(28, 51, 51);
    width: 100%;
}

.navbar button {
    font-weight: bold;
    font-size: 15px;
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 150px;
    overflow: hidden;
    background-color: rgb(28, 51, 51);
    border: 0px;
    transition: 1s;
}

.navbar #button1 {
    background-color: rgb(37, 90, 72);
}

.navbar #button3 {
    float: right;
}

.navbar button:hover{
    width: 200px;
}

img {
    width: 500px;
    height: 400px;
    display: block;
    margin-left: 200px;
}

#main {
    margin-top: 30px;
    padding: 20px;
}

#benefit {
    margin-top: 30px;
    padding: 20px;
    display: none;
}

.list {
    font-size: 18px;
    height: 400px;
    padding: 20px 50px;
    margin: 15px;
    border: 1px solid black;
    background-color: beige;
}

.list li{
    margin-top: 20px;
    background-color: aquamarine;
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    list-style: none;
    text-align: center;
}

.explain {
    margin-top: 20px;
    display: none;
    background-color: white;
    padding: 15px;
}

#location {
    margin-top: 30px;
    padding: 20px;
    display: none;
}

#about {
    font-size: 20px;
    text-align: justify;
}

#locationspan {
    border: 1px solid black;
    font-size: 18px;
    color: red;
    background-color: rgb(252, 245, 245);
}

#locationspan:hover {
    color: cyan;
    background-color: azure;
}

aside {
    text-align: justify;
    font-size: 20px;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(252, 245, 245);
    float: right;
    width: 30%;
}

#ws {
    display: none;
}
